Package: com.shaohua.cate
Name: cate
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: shaohua
Author: shaohua
Section: Tweaks
