Package: com.shaohua.cate
Name: cate
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: blocking sms and phone calls for jailbroken iPhones
Maintainer: shaohua
Author: shaohua
Section: Tweaks
